docx2pdf==0.1.8
pdf2image==1.16.0
python-docx
# conda install pdftotext -c forge
setuptools
tqdm
numpy
pdfminer
pypdf2
packaging
gdown
typing_extensions
opencv-python
scikit-image
editdistance
synthetic_text_gen @ git+https://github.com/herobd/synthetic_text_gen
ocrodeg @ git+https://github.com/NVlabs/ocrodeg

# IF REPO IS PUBLIC
#hwgen @ https://github.ancestry.com/tarchibald@/hwgen/archive/master.zip

# IF REPO IS LOCAL
#-e ../hwgen

# As of now, now it will check if ../hwgen exists and pip install from there, BUT NOT with -e
hwgen @ git+ssh://git@github.ancestry.com/tarchibald/hwgen@master#egg=hwgen
textgen @ git+ssh://git@github.ancestry.com/tarchibald/textgen@master#egg=textgen
Faker @ git+ssh://git@github.ancestry.com/tarchibald/Faker@master#egg=Faker
#Faker @ git+ssh://git@github.ancestry.com/tarchibald/Faker@master#egg=Faker
#docdegrade @ git+ssh://git@github.ancestry.com/tarchibald/docdegrade@master#egg=docdegrade
download_resources @ git+ssh://git@github.ancestry.com/tarchibald/download_resources@master#egg=download_resources
