git+ssh://git@github.ancestry.com/tarchibald/hwgen@master#egg=hwgen
git+ssh://git@github.ancestry.com/tarchibald/textgen@master#egg=textgen
git+ssh://git@github.ancestry.com/tarchibald/Faker@master#egg=Faker
git+ssh://git@github.ancestry.com/tarchibald/docdegrade@master#egg=docdegrade
git+ssh://git@github.ancestry.com/tarchibald/download_resources@master#egg=download_resources
