#-f git+https://github.ancestry.com/tarchibald/hwgen
#-f git+https://github.ancestry.com/tarchibald/textgen
#-f git+https://github.ancestry.com/tarchibald/Faker
#-f git+https://github.ancestry.com/tarchibald/docdegrade
#-f git+https://github.ancestry.com/tarchibald/download_resources

#-f git+https://github.com/tahlor/hwgen
#-f git+https://github.com/tahlor/textgen
#-f git+https://github.com/tahlor/Faker
#-f git+https://github.com/tahlor/docdegrade
#-f git+https://github.com/tahlor/download_resources

-f git+https://github.ancestry.com/tarchibald/hwgen@master#egg=hwgen
hwgen

-f git+https://github.ancestry.com/tarchibald/textgen@master#egg=textgen
textgen

-f git+https://github.ancestry.com/tarchibald/Faker@master#egg=Faker
faker

-f git+https://github.ancestry.com/tarchibald/docdegrade@master#egg=docdegrade
docdegrade

-f git+https://github.ancestry.com/tarchibald/download_resources@master#egg=download_resources
download_resources
