docx2pdf==0.1.8
pdf2image==1.16.0
python-docx
# conda install pdftotext -c forge
setuptools
tqdm
numpy
pdfminer
pypdf2
packaging
gdown
typing_extensions
opencv-python
scikit-image
editdistance

ocrodeg @ git+https://github.com/NVlabs/ocrodeg

# IF REPO IS PUBLIC
#hwgen @ https://github.ancestry.com/tarchibald/hwgen/archive/master.zip
#git+https://github.com/herobd/synthetic_text_gen@master
#synthetictextgen @ https://github.ancestry.com/tarchibald/synthetic_text_gen/archive/galois.zip

# IF REPO IS LOCAL
#-e ../hwgen

synthetictextgen @ git+https://github.ancestry.com/tarchibald/synthetic_text_gen@master#egg=synthetictextgen
hwgen @ git+ssh://git@github.ancestry.com/tarchibald/hwgen@master#egg=hwgen
textgen @ git+ssh://git@github.ancestry.com/tarchibald/textgen@master#egg=textgen
Faker @ git+ssh://git@github.ancestry.com/tarchibald/Faker@master#egg=Faker
docdegrade @ git+ssh://git@github.ancestry.com/tarchibald/docdegrade@master#egg=docdegrade
download_resources @ git+ssh://git@github.ancestry.com/tarchibald/download_resources@master#egg=download_resources
