docx2pdf==0.1.8
pdf2image==1.16.0
python-docx
# conda install pdftotext -c forge
setuptools
tqdm
numpy
pdfminer
pypdf2
packaging
gdown

-f git+https://github.ancestry.com/tarchibald/hwgen@master#egg=hwgen
hwgen

-f git+https://github.ancestry.com/tarchibald/textgen@master#egg=textgen
textgen

-f git+https://github.ancestry.com/tarchibald/Faker@master#egg=Faker
faker

-f git+https://github.ancestry.com/tarchibald/docdegrade@master#egg=docdegrade
docdegrade

-f git+https://github.ancestry.com/tarchibald/download_resources@master#egg=download_resources
download_resources
